<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="flex-container">
        <header class="flex-header">
            <div class="logo">
                <img src="~/ico/logo_black.svg" />
            </div>
            <div class="app-title">
                <span>PDBG-CRM</span>
            </div>
            <div class="account">
                <ul>
                    <li>
                        <a class="menu-ref" href=" #">Аккаунт</a>
                        <ul class="sub-account">
                            <li><a href="#">Выход</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
        <div class="flex-content">
            <nav class="flex-nav menu">
                <ul class="menu">
                    <li>
                        <span href="#" class="menu-first">Местоположение</span>
                        <ul class="submenu">
                            <li><a class="menu-ref" href="~/Map/AgentsOnMap">Агенты на карте</a></li>
                            <li><a class="menu-ref" href="#">История перемещений</a></li>
                        </ul>
                    </li>
                    <li>
                        <span href="#" class="menu-first">Заявки</span>
                        <ul class="submenu">
                            <li><a class="menu-ref" href="~/leads">Список заявок</a></li>
                            <li><a class="menu-ref" href="#">Заявки в работе</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <main>
                @RenderBody()
            </main>
        </div>
    </div>   
</body>
</html>
