@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using PDBG.CRM.WEB.Models;
@using PDBG.CRM.WEB.Models.ViewModels;
@model LoginModel;
@{
	Layout = "_LoginLayout";
}

<div class="login-content">
	<h2>Вход</h2>
	<div asp-validation-summary="All" class="text-danger"></div>
	<form asp-action="Login" method="post">
		<input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />		
		<div class="form-group">
			<label asp-for="Email"></label>
			<input asp-for="Email" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="Password">Пароль</label>
			<input asp-for="Password" class="form-control" />
		</div>
		<button type="submit">Войти</button>
	</form>
</div>