@model IEnumerable<PDBG.CRM.WEB.Models.Client>

@{
    ViewData["Title"] = "Home Page";
}

<div class="clients-table">
    <h1>Все клиенты</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Имя</th>
                <th>Телефон</th>
            </tr>
        </thead>
        @foreach (var client in Model)
        {
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(modelClient => client.Id)</td>
                    <td>@Html.DisplayFor(modelClient => client.Name)</td>
                    <td>@Html.DisplayFor(modelClient => client.Phone)</td>
                </tr>
            </tbody>
        }
    </table>
</div>
