@{
    ViewData["Title"] = "Агенты на карте";
}

<div class="map-main">
    <h1>Агенты на карте</h1>
    <div class="map-content">
        <div id="map" class="map"></div>
        <div class="map-filter">
            <div class="map-filter-inner">
                <h3>Фильтр</h3>
                <h4>Статусы</h4>
                <div class="map-filter-checkbox">
                    <div>
                        <input name="online" type="checkbox" checked="checked" class="status-box" id="box-online" />
                        <label for="online">Онлайн</label>
                    </div>
                    <div>
                        <input name="offline" type="checkbox" checked="checked" class="status-box" id="box-offline" />
                        <label for="offline">Офлайн</label>
                    </div>
                    <div>
                        <input name="not-available" type="checkbox" class="status-box" id="box-not-available" />
                        <label for="not-available">Недоступен</label>
                    </div>
                </div>
                <h4>Агент</h4>
                <div class="map-filter-select">
                    <select id="agents">
                        <option value="0">Все</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://api-maps.yandex.ru/2.1/?apikey=b78b456c-e4fa-45d6-b420-9901093b453e&lang=ru_RU" type="text/javascript"></script>
<script src="~/js/agentsOnMap.js"></script>