@{
    ViewData["Title"] = "Агенты на карте";
}

<div class="map-main">
    <h1>Агенты на карте</h1>
    <div class="map-content">
        <div id="map" class="map"></div>
        <div class="map-filter">
            <div class="map-filter-inner">
                <h3>Фильтр</h3>
            </div>
        </div>
    </div>
    
</div>




<script src="https://api-maps.yandex.ru/2.1/?apikey=b78b456c-e4fa-45d6-b420-9901093b453e&lang=ru_RU" type="text/javascript"></script>


